body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #20232b;
    color: white;
    display: flex;
}

.sidebar {
    width: 200px;
    background: #12151c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar li {
    text-align: center;
    padding: 15px;
    color: #ccc;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar li.active, .sidebar li:hover {
    background: #f97316;
    color: #fff;
}

.content {
    flex: 1;
    padding: 30px;
    background: #20232b;
}

.hidden {
    display: none;
}

.logout-btn {
    margin-top: auto;
    margin-bottom: 20px;
    background: #f97316;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.login-card {
    background: #12151c;
    color: white;
    padding: 40px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    margin: 150px auto;
}

input, select {
    padding: 8px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
}
