body {
    font-family: 'Poppins', sans-serif;
    background: #20232b;
    color: white;
}

.sidebar {
    width: 200px;
    background: #12151c;
    min-height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.sidebar li {
    text-align: center;
    padding: 15px;
    color: #ccc;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar li.active, .sidebar li:hover {
    background: #f97316;
    color: white;
}

.content {
    margin-left: 200px;
    padding: 30px;
    background: #20232b;
    min-height: 100vh;
}

.login-card {
    background: #12151c;
    padding: 40px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    margin: 150px auto;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.page {
    display: none;
}
.page.active {
    display: block;
}
